{%  extends "::base.html.twig" %}

{% block title %} 
Réservations
{% endblock %}

{% block body %}
<h3>
    Les réservations arrivées :
</h3>

    <ul>
    {% for reservation in reservations %}
            <li>
                {{ reservation }}
            </li>
    {% endfor %}

    </ul>
{% endblock %}